<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../element-ui/index.css">
    <link rel="stylesheet" href="../element-ui/style.css">
    <script src="../vue/vue.js"></script>
    <script src="../element-ui/index.js"></script>
</head>
<body>
<div id="app"></div>
<!-- 模板 -->
<template id="main_tpl">
    <el-row :gutter="24" style="padding: 0 15px;overflow-x: hidden;">
        <el-row :gutter="24" class="my-breadcrumb">
            <el-col :span="23">
                <el-breadcrumb separator="->">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                    <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                    <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
            <el-col :span="1">
                <el-button type="text" size="small">刷新</el-button>
            </el-col>
        </el-row>
        <!-- 查询选项 -->
        <el-row :gutter="24" style="padding: 5px 10px;">
            <el-col :span="24" style="padding: 5px 0;border: 1px solid #e0e6ed;">
                <div class="grid-content bg-purple">
                        <el-col :span="22" class="search-list">
                            <el-col :span="6">
                                <el-input placeholder="请输入内容">
                                    <template slot="prepend" style="background: #e0e6ed;">标题</template>
                                </el-input>
                            </el-col>
                            <el-col :span="6">
                                <el-input placeholder="请输入内容">
                                    <template slot="prepend" style="background: #e0e6ed;">标题</template>
                                </el-input>
                            </el-col>
                            <el-col :span="6">
                                <el-select v-model="selectData">
                                    <el-option
                                            v-for="item in options2"
                                            :label="item.label"
                                            :value="item.value"
                                            :disabled="item.disabled">
                                    </el-option>
                                </el-select>
                            </el-col>
                            <el-col :span="6">
                                <el-input placeholder="请输入内容">
                                    <template slot="prepend" style="background: #e0e6ed;">标题</template>
                                </el-input>
                            </el-col>
                            <el-col :span="6">
                                <el-input placeholder="请输入内容">
                                    <template slot="prepend" style="background: #e0e6ed;">标题</template>
                                </el-input>
                            </el-col>
                            <el-col :span="6">
                                <el-input placeholder="请输入内容">
                                    <template slot="prepend" style="background: #e0e6ed;">标题</template>
                                </el-input>
                            </el-col>
                        </el-col>
                        <el-col :span="2" :offset="22" style="padding-left:20px;">
                            <el-button type="primary">查询</el-button>
                        </el-col>
                </div>
            </el-col>
        </el-row>
        <!-- 操作按钮 -->
        <el-row :gutter="24" style="padding: 5px 0;">
            <div class="grid-content bg-purple">
                <el-col :span="2" :offset="22">
                    <div class="grid-content bg-purple">
                        <el-button type="info">新增</el-button>
                    </div>
                </el-col>
            </div>
        </el-row>
        <!-- table列表 -->
        <el-row :gutter="24" style="padding: 5px 0;">
            <el-col :span="24">
                <div class="grid-content bg-purple">
                    <el-table
                            :data="items"
                            height="250"
                            border
                            style="width: 100%">
                        <el-table-column
                                property="date"
                                label="日期"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                property="name"
                                label="姓名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                property="address"
                                label="地址">
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>
        <!-- 分页 -->
        <el-row :gutter="24" style="padding: 5px 0;">
            <el-col :span="24" style="text-align: right;">
                <div class="grid-content bg-purple">
                    <div class="block">
                        <el-pagination
                                @sizechange="handleSizeChange"
                                @currentchange="handleCurrentChange"
                                :current-page="pagination.current_page"
                                :page-sizes="[10, 15, 20, 40]"
                                :page-size="pagination.per_page"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </div>
                </div>
            </el-col>
        </el-row>
    </el-row>
</template>
</body>
<script>

    var Main = {
        template: "#main_tpl",
        data: function () {
            return {
                selectUrl:'',
                detailUrl:'',
                updateUrl:'',
                search:{

                },
                pagination: {
                    total: 800,
                    per_page: 10,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                items:[],
                selectData:[],
                options2:[]
            }
        },
        created: function(){
            this.fetchItems(this.pagination.current_page);
        },
        mounted: function(){
            this.items = [
                {date:'2016',name:'test',address:'广东深圳'},
                {date:'2016',name:'test1',address:'广东深圳'},
                {date:'2016',name:'test2',address:'广东深圳'}
            ];
        },
        methods: {
            handleSizeChange:function(val) {
                this.pagination.per_page = val;
                this.fetchItems(this.pagination.current_page);
                //console.log('每页 '+val+' 条');
            },
            handleCurrentChange:function(val) {
                this.pagination.current_page = val;
                this.fetchItems(this.pagination.current_page);
                //console.log('当前页: '+val);
            },
            fetchItems:function(page){
                if(!this.selectUrl){
                    console.log("未设置查询地址(selectUrl)");
                    return false;
                }
                var data = {page: page};
                this.$http.get(this.selectUrl, data).then(function (response) {
                    response.body = JSON.parse(response.body);
                    this.items = response.body.data.data.data;
                    this.pagination = response.data.data;
                }, function (error) {
                    // handle error
                });
            }
        }
    };
    new Vue({
        el: '#app',
        render: h => h(Main)
    });
</script>
</html>