<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../lib/vue.js"></script>
	<script src="../lib/jquery.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
</head>
<body>

	<!-- app && app1 基础 -->
	<div id="app">
		<div>*************************app && app1 基础**********************</div>
		<span>
			{{message}}	
		</span>
		<input v-model="message" v-bind:title="title">
		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>
		<p v-if="seen">you see me</p>
		<button v-on:click="reverseMessage">reserveMessage</button>
	</div>
	<div id="app1">
		<!-- <div v-once>This will never change: {{ a }}</div> ??-->
		<ul>
			<todo-list v-for="list in todolist" v-bind:todo="list"></todo-list>
		</ul>
		<!-- <div v-html="rawHtml"></div> ??-->
		<div v-bind:href="url"></div>
		<!-- <div v-on:submit.prevent="onSubmit"></div> -->
	</div>

	<!-- 计算属性 -->
	<div id="computed">
		<div>*************************计算属性**********************</div>
		<p>Original message: "{{ message }}"</p>
		<p>Computed reversed message: "{{ reversedMessage }}"</p>
		<!-- <p>Date: "{{ now }}"</p> -->
		<div>{{ fullName }}</div>
	</div>

	<!-- 观察watchers -->
	<div id="watchers">
		<div>*************************观察watchers**********************</div>
		<div id="watch-example">
			<p>
				Ask a yes/no question:
				<input v-model="question">
			</p>
			<p>{{ answer }}</p>
		</div>
	</div>

	<!-- style && class 绑定 -->
	<div id="bindStyle">
		<div>*************************style && class 绑定**********************</div>
		<div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">binding style</div>
		<div v-bind:class="{ classObject }">binding style</div>
		<div v-if="ok">Yes</div>
		<div v-show="ok">Yes</div>
	</div>

	<script src="./app.js"></script>
	<script src="./computed.js"></script>
	<script src="./watchers.js"></script>
	<script src="./bindStyle.js"></script>
</body>
</html>