<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../lib/vue.js"></script>
	<script src="../lib/jquery.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
</head>
<body>

	<div id="app">
		<span>
			{{message}}	
		</span>
		<input v-model="message" v-bind:title="title">
		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>
		<p v-if="seen">you see me</p>
		<button v-on:click="reverseMessage">reserveMessage</button>
		<div>***********************************************************</div>
	</div>

	<div id="app1">
		<!-- <div v-once>This will never change: {{ a }}</div> ??-->
		<ul>
			<todo-list v-for="list in todolist" v-bind:todo="list"></todo-list>
		</ul>
		<!-- <div v-html="rawHtml"></div> ??-->
		<div v-bind:href="url"></div>
		<!-- <div v-on:submit.prevent="onSubmit"></div> -->
		<div>***********************************************************</div>
	</div>

	<div id="app2">
		<div id="watch-example">
			<p>
				Ask a yes/no question:
				<input v-model="question">
			</p>
			<p>{{ answer }}</p>
		</div>
	</div>

	<script src="./app.js"></script>
	<script src="./app2.js"></script>
</body>
</html>