<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/vue.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>

	<div id="app">
	  <span>
	  	{{message}}	
	  </span>
	  <input v-model="message" v-bind:title="title">
	  <ul>
	  	<li v-for="todo in todos">
	  		{{ todo.text }}
	  	</li>
	  </ul>
	  <p v-if="seen">you see me</p>
	  <button v-on:click="reverseMessage">reserveMessage</button>
	</div>

	<div id="app1">
		<!-- <div v-once>This will never change: {{ a }}</div> ??-->
		<ul>
			<todo-list v-for="list in todolist" v-bind:todo="list"></todo-list>
		</ul>
		<!-- <div v-html="rawHtml"></div> ??-->
		<div v-bind:id="id111">11111111</div>
		<div class="static" v-bind:class="{active: isActive}">222</div>
	</div>
	<script src="js/app.js"></script>
</body>
</html>